/* Hero Section id */
#hero-section {
  position: relative;
  height: 60vh;
}

/* Background Video */
.background-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: 0.1ms ease;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}
/*TEXT SIZES*/
.text-xl {
  font-size: 5rem;
}

.text-lg {
  font-size: 4rem;
}

.text-m {
  font-size: 3rem;
}
.text-sm {
  font-size: 2rem;
}

.text-base {
  font-size: 1.5rem;
}

.text-shadow {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.15),
    0px 6px 8px rgba(200, 170, 255, 0.25);
}

.text-thin {
  font-weight: 100;
}

.text-light {
  font-weight: 300;
}
/*NAVIGATION*/
nav a {
  text-decoration: none;
  margin: 0 15px;
  transition: all 0.25s ease-in-out;
  color: white;
}

nav a:hover {
  color: #f6f6f6;
  -webkit-text-stroke: #fdfdfd;
  font-size: 1.5rem;
}

/*proximity of h1 words*/
.line-height {
  line-height: 0.85;
}

.line-height-header {
  line-height: 0.95;
}

.black-line {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-bottom: black solid 2px;
}
/* TEXT SPACING*/

.tracking-ease {
  letter-spacing: -0.01em;
}

.tracking-tighter {
  letter-spacing: -0.08em;
}
/* MARGINS*/

.mt-3 {
  margin-top: -3rem;
}
.mt-1 {
  margin-top: -1rem;
}
.ml-10 {
  margin-left: 10rem;
}

.mw {
  max-width: 35rem;
}
/*end margins*/
.doodles {
  position: absolute;
}

.rose {
  top: 65rem;
  left: 83rem;
}

.violet {
  top: 32rem;
}

/*card styling*/
.card {
  width: 275px;
  height: 375px;
  border: 2px solid black;
  text-align: center;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}
/* Image styling */
.card-image {
  width: 70%;
  height: auto;
}

.play-icon {
  width: 50px; /* Reduced width */
  height: 50px; /* Reduced height */
}

.box {
  box-sizing: border-box;
}

/*animation*/

/*FLOATING*/

.floating {
  animation: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/*keyframes floating*/

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

#myAudio {
  display: none;
}

#playButton {
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

#playButton:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.mt-5 {
  margin-top: 5rem;
}

.w-svw {
  width: 100svw;
}

.gap-around {
  gap: 100px;
}

.gap-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* IPAD SIZE */
@media screen and (max-width: 600px) {
  .font-medium {
    font-size: 3rem;
  }
}

/* PHONE SIZE */
@media screen and (max-width: 410px) {
  .font-medium {
    font-size: 2rem;
  }
}
